/* 메인 레이아웃 */

.main-content {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
}

.center-content {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

/* 좌측 사이드바 */
.left-sidebar {
    width: 280px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

